SIMPLE_REST_API/.vs/SIMPLE_REST_API/v16/.suo
SIMPLE_REST_API/.vs/SIMPLE_REST_API/v16/Browse.VC.db
SIMPLE_REST_API/.vs/SIMPLE_REST_API/v16/ipch/AutoPCH/246d2f0d6587231b/SOURCE.ipch
SIMPLE_REST_API/Debug/boost_date_time-vc142-mt-gd-x32-1_70.dll
SIMPLE_REST_API/Debug/brotlicommon.dll
SIMPLE_REST_API/Debug/brotlidec.dll
SIMPLE_REST_API/Debug/brotlienc.dll
SIMPLE_REST_API/Debug/cpprest_2_10d.dll
SIMPLE_REST_API/Debug/LIBEAY32.dll
SIMPLE_REST_API/Debug/SIMPLE_REST_API.exe
SIMPLE_REST_API/Debug/SIMPLE_REST_API.ilk
SIMPLE_REST_API/Debug/SIMPLE_REST_API.pdb
SIMPLE_REST_API/Debug/SSLEAY32.dll
SIMPLE_REST_API/Debug/zlibd1.dll
SIMPLE_REST_API/SIMPLE_REST_API/Debug/SIMPLE_REST_API.log
SIMPLE_REST_API/SIMPLE_REST_API/Debug/SIMPLE_REST_API.vcxproj.CopyComplete
SIMPLE_REST_API/SIMPLE_REST_API/Debug/Source.obj
SIMPLE_REST_API/SIMPLE_REST_API/Debug/vc142.idb
SIMPLE_REST_API/SIMPLE_REST_API/Debug/vc142.pdb
SIMPLE_REST_API/SIMPLE_REST_API/Debug/vcpkg.applocal.log
SIMPLE_REST_API/SIMPLE_REST_API/Debug/SIMPLE_REST_API.tlog/CL.command.1.tlog
SIMPLE_REST_API/SIMPLE_REST_API/Debug/SIMPLE_REST_API.tlog/CL.read.1.tlog
SIMPLE_REST_API/SIMPLE_REST_API/Debug/SIMPLE_REST_API.tlog/CL.write.1.tlog
SIMPLE_REST_API/SIMPLE_REST_API/Debug/SIMPLE_REST_API.tlog/link.command.1.tlog
SIMPLE_REST_API/SIMPLE_REST_API/Debug/SIMPLE_REST_API.tlog/link.read.1.tlog
SIMPLE_REST_API/SIMPLE_REST_API/Debug/SIMPLE_REST_API.tlog/link.write.1.tlog
SIMPLE_REST_API/SIMPLE_REST_API/Debug/SIMPLE_REST_API.tlog/SIMPLE_REST_API.lastbuildstate
SIMPLE_REST_API/SIMPLE_REST_API/Debug/SIMPLE_REST_API.tlog/SIMPLE_REST_API.write.1u.tlog
